#########################
# Python related
#########################
__pycache__/

#########################
# Database
#########################
*.db

#########################
# Data
#########################
*.json
*.csv

#########################
# Robot Framework Results
#########################
tests/results/*
