#########################
# Python related
#########################
__pycache__/

#########################
# Database
#########################
*.db

#########################
# Data
#########################
*.json
*.csv
